.jumbotron {
    background-color: lightgray;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    margin-bottom: 0px;
    background-color: lightyellow;
    margin-top: 15px;
}

.card-hotel {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
}

.btn-booking {
    width: 100%;
}